.task__hero {
  max-width: 1440px;
  margin: 0 auto;

  .inner__container {
    margin: 30px 30px 0px;
    position: relative;
    background-color: var(--red-400);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 900px;

    @media (max-width: 768px) {
      height: 770px;
    }

    @media (max-width: 999px) {
      margin: 50px 16px 0px;
    }
    @media (min-width: 768px) and (max-width: 999px) {
      height: 1148px;
    }
  }

  .headings {
    max-width: 460px;
    padding-top: 128px;
    color: var(--white);
    float: right;
    margin-right: 20px;
    position: relative;
    z-index: 3;

    @media (max-width: 999px) {
      margin-right: 0;
      float: inherit;
      padding: 48px 24px 0;
    }
    @media (min-width: 999px) and (max-width: 1150px) {
      margin-right: 38px;
    }
    @media (min-width: 1150px) and (max-width: 1430px) {
      margin-right: 90px;
    }

    .trade_save_img {
      width: auto;
      height: auto;
      margin-bottom: 32px;
    }
    p {
      font-size: 32px;
      line-height: 41px;
      letter-spacing: 0.02em;
      font-weight: 400;
      font span {
        font-weight: 700;
      }
      @media (max-width: 999px) {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
      }
    }

    button {
      margin-top: 240px;

      @media (min-width: 999px) {
        margin-left: 100px;
      }

      @media (max-width: 999px) {
        margin-top: 32px;
      }

      @media (min-width: 999px) and (max-width: 1050px) {
        margin-left: 65px;
      }
    }
  }

  // .mobile_arrow {
  //   display: none;

  //   @media (min-width: 408px) and (max-width: 999px) {
  //     position: absolute;
  //     width: 306.44px;
  //     height: 450.41px;
  //     left: 66px;
  //     top: 310px;
  //     display: block;
  //   }

  //   @media (max-width: 408px) {
  //     width: 249px;
  //     height: 421.41px;
  //     display: block;
  //     position: absolute;
  //     top: 383px;
  //     left: 39px;
  //   }
  // }

  .white__doodler {
    position: absolute;
    top: 65px;
    left: 395px;
    display: block;

    @media (max-width: 768px) {
      display: none;
    }

    @media (min-width: 768px) and (max-width: 999px) {
      top: 327px;
      left: 274px;
    }

    @media (min-width: 999px) and (max-width: 1299px) {
      top: 183px;
      left: 190px;
    }
  }

  .white__bg__shape {
    position: absolute;
    top: 214px;
    left: 0;
    z-index: 1;
    display: block;

    @media (max-width: 768px) {
      top: 366px;
      left: -52px;
    }

    @media (min-width: 768px) and (max-width: 999px) {
      top: 470px;
      left: -138px;
    }
    @media (min-width: 999px) and (max-width: 1299px) {
      top: 356px;
      left: -234px;
    }
  }

  .green__bg__shape {
    position: absolute;
    top: 133px;
    left: 0;
    z-index: 1;
    display: block;
    height: auto;

    @media (max-width: 768px) {
      top: 400px;
      // left: -125px;
      left: -80px;
      height: 400px;
    }

    @media (min-width: 768px) and (max-width: 999px) {
      top: 367px;
      left: -126px;
      height: auto;
    }
    @media (min-width: 999px) and (max-width: 1299px) {
      top: 310px;
      left: -177px;
      height: auto;
    }
  }

  .orange__bg__shape {
    position: absolute;
    top: 662px;
    left: -419px;
    z-index: 3;
    display: block;

    @media (max-width: 768px) {
      top: 842px;
      left: -487px;
    }

    @media (min-width: 768px) and (max-width: 999px) {
      top: 889px;
      left: -505px;
    }
    @media (min-width: 999px) and (max-width: 1299px) {
      top: 699px;
      left: -430px;
    }
  }

  .user {
    position: absolute;
    top: 145px;
    z-index: 2;
    left: 0;
    height: auto;
    @media (max-width: 768px) {
      top: 330px;
      // height: 340px;
      // left: -80px;
    }

    @media (min-width: 768px) and (max-width: 999px) {
      top: 407px;
      left: -121px;
      height: auto;
    }

    @media (min-width: 999px) and (max-width: 1299px) {
      top: 297px;
      left: -50px;
      width: 500px;
      height: auto;
    }
  }

  .arrow {
    position: absolute;
    top: 363px;
    left: 377px;
    z-index: 2;
    display: block;

    @media (max-width: 999px) {
      display: none;
    }
    @media (min-width: 999px) and (max-width: 1299px) {
      top: 367px;
      left: 196px;
      width: 602px;
    }
  }

  .greencenter__bg__shape {
    position: absolute;
    top: 860px;
    z-index: 2;
    left: 110px;
    opacity: 0.4;
    display: block;

    @media (max-width: 999px) {
      // display: none;
    }
    @media (min-width: 999px) and (max-width: 1658px) {
      left: 30px;
    }
  }

  .greenright__bg__shape {
    position: absolute;
    z-index: 2;
    top: 704px;
    right: -30px;
    display: block;

    @media (max-width: 999px) {
      // display: none;
    }
  }

  .holy__white__box__container {
    position: absolute;
    top: 800px;
    z-index: 5;
    background-color: var(--white);
    max-width: 1200px;
    width: 100%;
    border-radius: 40px;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    padding: 60px 0;

    @media (max-width: 999px) {
      top: 650px;
    }

    @media (min-width: 768px) and (max-width: 999px) {
      top: 1058px;
    }

    @media (max-width: 999px) {
      padding: 40px 24px;
    }

    .holy__white_box_heading {
      // font-style: italic;
      font-weight: 800;
      font-size: 48px;
      line-height: 58px;
      text-align: center;
      letter-spacing: -0.03em;
      color: var(--red-400);
      max-width: 512px;
      margin: 0 auto;
      margin-bottom: 24px;

      @media (max-width: 999px) {
        font-weight: 400;
        font-size: 20px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.01em;
        margin-bottom: 16px;
      }
    }

    .holy__white_box_about {
      font-size: 20px;
      line-height: 32px;
      font-weight: 400;
      max-width: 911px;
      margin: 0 auto;
      color: var(--off-black);

      @media (max-width: 999px) {
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.01em;
      }
    }

    .holy__white__box__bg__shape {
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: -1;
      width: auto;

      @media (max-width: 768px) {
        width: 245px;
      }
    }
  }
}
