@font-face {
  font-family: "MM Text Pro WebTT";
  src: url(../fonts/mmtextwebtt-regular.ttf);
}

@font-face {
  font-family: "MM Headline Pro WebTT";
  src: url(../fonts/mmheadlinewebtt-regular.ttf);
}
